@model WCSummerCampRegistration.Models.AvailWeekViewModels.AvailWeekViewModel
@using WCSummerCampRegistration.Extensions
@{
    ViewData["Title"] = "Create";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function(){
        getCamps();
        $('#CategoryId').change(function () {
            getCamps();
        })
    });

    function getCamps() {
        var url = '@Url.Content("~/")' + "AvailWeeks/GetCamps";
        var ddlsource = "#CategoryId";
        $.getJSON(url, { CategoryID: $(ddlsource).val() }, function (data) {
            var items = '';
            $("#CampId").empty();
            $.each(data, function (i, camp) {
                items += "<option value='" + camp.value + "'>" + camp.text + "</option>";
            });
            $('#CampId').html(items);
        })

    }
</script>

<h2>Create</h2>

<h4>AvailWeek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                @{
                    //foreach (var val in @EnumHelper<AvailWeek.EWeekStarts>.GetDisplayValues(AvailWeek.EWeekStarts.Week1))
                    //foreach (var val in typeof(AvailWeek.EWeekStarts).GetEnumValues())
                    //foreach (AvailWeek.EWeekStarts val in AvailWeek)
                    foreach (var eweek in (AvailWeek.EWeekStarts[])Enum.GetValues(typeof(AvailWeek.EWeekStarts)))
                    {
                        <label class="control-label">@((int)eweek)</label>
                        <input name="availweek" value="" type="checkbox" />
                        <br />
                    }
                }
            </div>



            <div class="form-group">
                <label asp-for="AvailWeek.Name" class="control-label"></label>
                @*<input asp-for="AvailWeek.Name" class="form-control" />*@
                <select asp-for="AvailWeek.Name" asp-items="Html.GetEnumSelectList<AvailWeek.EWeekStarts>()" class="form-control"></select>
                <span asp-validation-for="AvailWeek.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailWeek.CategoryId" class="control-label"></label>
                <select asp-for="@Model.AvailWeek.CategoryId" id="CategoryId" class="form-control" asp-items="Model.Category.ToSelectListItem(Model.AvailWeek.CategoryId)"></select>
            </div>
            <div class="form-group">
                <label asp-for="AvailWeek.CampId" class="control-label"></label>
                @*<select asp-for="CampId" class="form-control" asp-items="ViewBag.CampId"></select>*@
                <select asp-for="AvailWeek.CampId" name="CampId" id="CampId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
