@model IEnumerable<WCSummerCampRegistration.Models.Pricing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembRegPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonMembRegPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembAcademyAlonePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonMembAcademyAlonePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembAcademyDayCampPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonMembAcademyDayCampPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembRegPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonMembRegPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembAcademyAlonePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonMembAcademyAlonePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembAcademyDayCampPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonMembAcademyDayCampPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
